@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url("/css/background-6.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div style="margin-left: 800px; margin-top: 200px">
    <h1 class="display-4" style="color: #FF8C00; font-weight: bold; font-size: 92px; font-family: cursive;">COOKING <br /> RECIPES </h1>
</div>
